/* LAYOUT */
#playMode {
  display: none;
}
form {
  margin: 20px auto;
}
.playerGuess {
  margin: 10px;
  padding: 10px;
  border: 2px solid #515150;
  border-radius: 4px;
}
.playerGuess p {
  text-align: center;
}
.playerGuess p:first-of-type {
  text-decoration: underline;
  font-weight: bold;
}
.playerGuess p:last-of-type {
  text-transform: uppercase;
}
/* MODAL */
.modal {
  top: 10%;
}
.modal-dialog {
  width: 50%;
}
.modal-header {
  background-color: green;
  color: #fff;
  text-align: center;
}
.modal-body p {
  text-align: center;
}
